@*@{*@
@*    Layout = "~/Views/Shared/_Layout.cshtml";*@
@*}*@

@{
    ViewBag.Title = "Create";
}

<h2>The TamagotchiModel Creator</h2>

<ul>
    @for (var i = 0; i < ViewBag.Age; i++)
    {
        <li>@ViewBag.Name</li>
    }
</ul>

