@*@{*@
@*    Layout = "~/Views/Shared/_Layout.cshtml";*@
@*}*@

@{
    ViewBag.Title = "TamagotchiModel Selection";
}

<h2>Available TamagotchiModel's</h2>

<p>Hello, this is the TamagotchiModel View!</p>



