<h2>Your Tamagotchi is still busy with his last activity</h2>
<p>@ViewBag.RemainingCountdown seconds until your Tamagotchi is finished with action: @ViewBag.ActionPerformed </p>
<p>@Html.ActionLink("Return to the Tamagotchi overview!", "Index")</p>
